[Desktop Entry]
Name=CDW
Comment=Ncurses based cd/dvd burning utility
Exec=cdw
Icon=cdw
StartupNotify=false
Terminal=true
Type=Application
Categories=Utility;AudioVideo;Recorder;
